{{#each erros}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ text }}</strong>
    </div>
{{/each}}

<div class="container w-75">
<!-- Header -->
    <div class="text-center">
        <h1 class="text-info text-dark">Medir con GasDetector</h1>
    </div>
<!-- End Header -->

<!-- Panel conectar -->
    <div class="card card-success border-success">
        <div class="card-header">
            <h3 class="card-title">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Ya sabes como funciona, conectate rapidamente!</font>
                </font>
            </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="/measures/current" method="POST">
            <div class="card-body pb-0">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label w-auto">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Puerto:</font>
                        </font>
                    </label>
                    <div class="col-sm-10">
                        <input type="text" name="port" class="form-control" placeholder="Ingrese el puerto serie (ejemplo: COM1)" autofocus>
                    </div>
                    <span class="text-muted h6 m-2">Baudrate por default: 9600</span>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-success float-right">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Conectar</font>
                    </font>
                </button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
<!-- End Panel conectar -->

<!-- Rotulos -->
    <div clas="container">
        <div class="card card-info border-info" style="margin-bottom: 70px;">
            <div class="card-header">
                <h3 class="card-title">
                <i class="fas fa-bullhorn"></i>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">
                            Lee las instrucciones y enterate como tomar mediciones
                        </font>
                </font></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="callout callout-info">
                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Paso 1.</font>
                        </font>
                    </h5>
                    <p><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Verifique que el sistema electronico GasDetector a bordo del 
                            drone este energizado y funcionando.
                        </font>
                    </p>
                </div>
                <div class="callout callout-info">
                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Paso 2.</font>
                        </font>
                    </h5>
                    <p><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Conecte el receptor GasDetector a al PC donde ejecuta esta 
                            aplicacion y verifique que puerto serie a tomado la tarjeta (En wiondows generalmente se veria 
                            algo como esto COM1).
                        </font>
                    </p>
                </div>
                <div class="callout callout-info">
                    <h5>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Paso 3.</font>
                        </font>
                    </h5>
                    <p><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Ingrese el identificador para el puerto serie arrojado por 
                            su sistema en el campo PORT de la interza y de clic en conectar. Si todo va bien empezara a recibir 
                            las muestras tomadas por el dispositivo GasDetector a bordo del drone.
                        </font>
                    </p>
                </div>
            </div>
            <!-- /.card-body -->
            </div>
            <!-- /.card -->
    </div>
<!-- End Rotulos -->

</div>