<div class="container">
    <div class="row mt-4">
      <!-- Grafica -->
      <div class="container mt-0 mb-lg-5">
         <div class="card m-lg-0">
           <div class="card-body bg-light">
             <canvas id="myChart"></canvas>
           </div>
         </div>
      </div>
    </div>
</div>

<!-- Sockets.io -->
<script src="/socket.io/socket.io.js"></script>
<!-- Charjs -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- Custom js -->
<script src="/js/show-measures.js"></script>