<header class="text-center py-2 mb-4">
  <section class="card bg-secondary">
    <div class="card-body">
      <h1 class="font-weight-light text-white">Conoce al equipo</h1>
      <p>
        El equipo de trabajo esta conformado por integrantes de la Universidad de Pamplona.
      </p>
    </div>
  </section>
</header>

<!-- Page Content -->
<div class="container d-flex">
  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/img/authors/julian_arias.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0 w-100">Julian Arias Monroy</h5>
          <div class="card-text text-black-50">Desarrollador</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/img/authors/victor_vargas.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0 w-100">Victor Vargas Sarmiento</h5>
          <div class="card-text text-black-50">Director</div>
        </div>
      </div>
    </div>
    
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
